body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(france-background.jpeg);
    background-size: 100%;
    /* background-position-x: center; */
    background-repeat: repeat;
    width: 100vh;

}

nav {
    background: #002395;
    padding: 1rem 0;
    width: 100vw;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.tec {
    justify-content: center;
}

.container {
    display: flex;
    /* align-items: ; */
    justify-content: space-around;
    gap: 3px;

}

footer {
    background-color: red;
     position: fixed;
     right: 0px;
     bottom: 0px;
     text-align: center; 
     width: 100%;   
     font-size: 15px;
    font-weight: bold;
    color: #fafaff;  
}

img {
    width: 53vh;
    object-position: 1dvh;
}



   .column {
    float: left;
    width: 30%;
    padding: 15px;
    justify-content: center;
    background-color: rgba(226, 201, 238, 0.632);
    border-radius: 30px;
    border: 1px solid red;
    height: 62dvh;
  }

  .head {
    justify-content: center;
    position: relative;
    left: 40%;
  }
main {
    width: 100vw;
}
   
h1 {
    text-align: center;
}