body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(france-background.jpeg);
    background-size: 100%;
    /* background-position-x: center; */
    background-repeat: repeat;
    width: 100vh;
    

}

/* Tema întunecată */
body.dark-mode {
    background-color: #1e1e1e;
    color: white;
}

/* Stil pentru buton */
.toggle-theme {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-theme:hover {
    background-color: #0056b3;
}


nav {
    background: #002395;
    padding: 1rem 0;
    width: 100vw;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.tec {
    justify-content: center;
}

.container {
    display: flex;
    /* align-items: ; */
    justify-content: space-around;
    gap: 3px;

}

footer {
    background-color: red;
     position: fixed;
     right: 0px;
     bottom: 0px;
     text-align: center; 
     width: 100%;   
     font-size: 15px;
    font-weight: bold;
    color: #fafaff;  
}

img {
    width: 53vh;
    object-position: center;
}



   .column {
    float: left;
    width: 30%;
    padding: 15px;
    justify-content: center;
    background-color: rgba(226, 201, 238, 0.632);
    border-radius: 30px;
    border: 1px solid red;
    height: 62dvh;
  }

  .head {
    justify-content: center;
    position: relative;
    left: 40%;
  }
main {
    width: 100vw;
}
   
h1 {
    text-align: center;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 15px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
